root = true

[*.go]
indent_style = tab
indent_size = 4

[*.md]
indent_style = space
indent_size = 2

[Earthfile]
indent_style = space
indent_size = 4

[*.sh]
indent_style = space
indent_size = 4

[*.jq]
indent_style = space
indent_size = 4

[*.json]
indent_style = space
indent_size = 4

[*.yaml]
indent_style = space
indent_size = 2
